html, body{
    margin: 0;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.container{    
    width: 100vw; 
    height:100vh;
    padding: 32px;
    box-sizing: border-box;
}